body {
    font-family:Arial, Helvetica, sans-serif;
}
#box {    border: 0;
    width: 21%;
    height: 454px;
    background-image:url(asset/bf12f5176d6b76770b4d960f20ff602f.jpg);
    background-position: center;
    background-size: cover;

  }
 .save { 
    height: 40px;
    width: 60px;
    border-radius: 30px;
    border: none;
    color: white;
    background-color: red;
    position: absolute;
    top: -80px;
    right: 10px;
    transition: transform 0.5s;
    }

    .save {
        top: 20px;
        right: 80%;
        transition: transform 0.1s;
    }
.save:hover {
    transform: translateY(-80px);
 }
 .link {
    background-color: white;
    color: black;
    border-radius: 45px;
    height: 39px;
    border: none;
    position:absolute;
    bottom: 9px;
    margin-left: 8px;
    transition: transform 0.5s;
 }
 .info-text {
    text-decoration: none;
    color: black;
    margin: 10px;
 }
.link {
    transition: transform 0.1s;
}
.link:hover {
    transform: translateY(80px);
}

.upload {
    background-color: white;
    border: none;
    border-radius: 30px;
    height: 39px;
    width: 45px;
    position: absolute;
    bottom: 9px;
    margin-left: 8px;
    transition: trans;
}