body {
    font-family:Arial, Helvetica, sans-serif;
}
#box {
    border: 2px solid;
    width: 21%;
    height: 454px;
    background-image:url(asset/bf12f5176d6b76770b4d960f20ff602f.jpg);
    background-position: center;
    background-size: cover;

  }
  .save {
    color: white;
    border: 0;
    width: 19%;
    height: 12%;
    background-color: red;
    border-radius: 45%;
    margin-left: 76%;
    margin-top: 3%;
  }

 b {
    color: white;
     }
 .save b {
    display: flex;
        justify-content: center;
        padding-top: 24%;
    }
.save:hover {
    transition:0s 1s linear .2s;

}